core-account:
    entity:
        persistence:
            key: mongodb
            # db: CONFIGURE_ME
            schemata:
                - { keys: { key: 1 }, options: { unique: true }}
    attributes:
        key:
            type: string
            description: 'The unique, sluggified key of the object.'
        name:
            type: string
            description: 'The user-friendly name of the object.'
        createdDate:
            type: date
            description: The date this item was created.
        updatedDate:
            type: date
            description: The date this item was last updated by a user.
        touchedDate:
            type: date
            description: 'The date this item was last touched, either by a user or by the system.'
